* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-animal-container {
  display: flex;
  flex-wrap: wrap;
}

.animal-card-container {
  width: 220px;
  height: 322px;
  margin: 5px;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.3);
}

.animal-card-img {
  width: 220px;
  margin-bottom: 10px;
  height: 130px;
}

.animal-card-name {
  padding-bottom: 10px
}

.animal-card-description {
  font-size: 12px;
  margin-top: 20px;
  padding: 0px 5px;
}